.scrollContainer {
  width: 100%;
  overflow-y: scroll;
}

.scrollBackground {
  transition: clip-path 0.3s ease; // 平滑过渡效果
}

.title {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.fullPage {
  height: 100vh; // 每一部分占据一个可视窗口的高度
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}
