.fixedbottomcenter {
  position: fixed;
  bottom: -70;
  /* 固定在底部 */
  left: 50%;
  /* 将元素的左边界放在页面的水平中心点 */
  transform: translateX(-50%);
  /* 通过 translateX(-50%) 将元素居中 */
  width: 100%;
  /* 可选：让元素宽度填满 */
  text-align: center;
  /* 水平居中对齐内容 */
  padding: 20px;
  /* 可选：设置一些内边距 */
  background-color: #f0f0f0;
  /* 可选：背景色 */
}

.list {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
}

.list > div {
  position: absolute;
  will-change: transform, width, height, opacity;
  padding: 15px;
}

.list > div > div {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
}

.noise {
  opacity: 0.3;
  inset: -30%;
  width: 800%;
  scale: 8;
  height: 800%;
  position: absolute;
  background-size: 1000px 1000px;
  background-repeat: no-repeat;
  /* 或使用public相对地址：./noise.png */
  background: url("https://thumb.ac-illust.com/a9/a9c7c9a2d474ffe508280d63b0e85fde_t.jpeg");
  /* background: url('https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png'); */
}

.main {
  min-width: 100px;
  padding: 0 20px;
  margin: 0 auto;
  height: 260px;
}

.transitionsItem {
  overflow: hidden;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity, height;
  white-space: nowrap;
  cursor: pointer;
  line-height: 80px;
}